STRAPI_READ_ONLY_KEY=""
VITE_MEDIA_URL=""

VITE_CONTACT_EMAIL=""
VITE_PHONE_COUNTRY_CODE=""
VITE_PHONE_NUMBER=""
VITE_CITY=""
VITE_DISTRICT=""

SMTP_ADDRESS=""
SMTP_PORT_1=000
SMTP_PORT_2=000
SMTP_PASSWORD=""

IMAP_ADDRESS=""
IMAP_PORT=000

POP3_ADDRESS=""
POP3_PORT=000

#EXCHANGE_ADDRESS=""
#EXCHANGE_PORT=000

VITE_INSTAGRAM=""
VITE_LINKEDIN=""
VITE_GITHUB=""