@font-face {
    font-family: 'DosisRegular';
    src: local('DosisRegular'), url('../../fonts/Dosis/static/Dosis-Regular.ttf');
}

@font-face {
    font-family: 'DosisBold';
    src: local('DosisBold'), url('../../fonts/Dosis/static/Dosis-Bold.ttf');
}

.dosis {
    font-family: 'DosisRegular', sans-serif;
}

.dosis-bold {
    font-family: 'DosisBold', sans-serif;
}