@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url('./../../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 900;
}

@font-face {
    font-family: 'Nunito Italic';
    src: local('Nunito Italic'), url('./../../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 200 900;
}