.button,
.button-icon {
    align-items: center;
    background-color: var(--button-primary-color);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    box-shadow: var(--shadow);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-bold), sans-serif;
    font-size: 1rem;
    justify-content: center;
    position: relative;
    transition: all 100ms linear;
    height: 3rem;
}

.button .feather,
.button-icon .feather {
    stroke: var(--button-text-color);
}

.button {
    color: var(--button-text-color);
    padding-inline: 2rem;
    text-decoration: none;
    gap: .5rem;
    text-transform: uppercase;
}

.button-icon {
    width: 3rem;
}

.button a,
.button-icon a {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

.button:hover,
.button:focus-within,
.button-icon:hover,
.button-icon:focus-within {
    transform: translate(0, .2rem);
    box-shadow: 0 .3rem 0 var(--black);
}

.button:active,
.button-icon:active {
    transform: translate(0, .5rem);
    box-shadow: 0 0 0 var(--black);
}

.button-icon-round {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--text-color);
    width: 3rem;
    height: 3rem;
    transition: background-color 100ms linear;
}

.button-icon-round .feather {
    stroke: var(--white);
}