.switch-blade-figure {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.switch-blade-figure img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.switch-blade-figure img:nth-child(1) {
    opacity: 0;
    animation-name: switch-blade-figure;
    animation-duration: 1ms;
    animation-fill-mode: forwards;
    z-index: 2;

    animation-delay: 2s;
}

.switch-blade-figure img:nth-child(2) {
    opacity: 0;
    animation-name: switch-blade-figure;
    animation-duration: 1ms;
    animation-fill-mode: forwards;
    z-index: 1;

    animation-delay: 1500ms;
}

@-webkit-keyframes switch-blade-figure {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes switch-blade-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}