.text-normal {
    font-size: 1rem;
    line-height: 1.7;
    font-family: var(--font-normal);
}

.text-title {
    font-size: 2rem;
    line-height: 1.5;
}

.text-title,
.text-bold {
    font-family: var(--font-bold);
}

.text-normal.text-bold {
    letter-spacing: 1px;
}

.text-large-title {
    font-family: var(--font-bold);
    font-size: 3rem;
    line-height: 1.5;
}

.text-bread {
    font-family: var(--font-normal);
    font-size: 1rem;
    line-height: 1.7;
    font-weight: normal;
    text-align: justify-all;
}